@import "../../styles/mixins";

.mainContainer {
  @include main-container;
}

.contentSection {
  width: 100%;

  > h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;
  }
}

.cardsContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.searchSection {
  width: 100%;
  flex: 1;
  margin-bottom: 10rem;
}
