.wrapper {
  color: #ffffff;
  height: 100%;

  padding: 0 80px;
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & strong {
    font-size: 2.4rem;
  }
}

.userSection {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .userImg {
    margin-right: 2rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cardSection {
  > h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;
  }
}

.cardContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.searchSection {
  width: 100%;
  flex: 1;
  margin: 12rem 0;
}
