*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  background: #131330;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

#root {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      to bottom,
      #3b2e5500 0%,
      #3b2e5566 30%,
      #131330 100%
    ),
    url("./static/assets/bg.jpg") no-repeat;
  background-size: cover;
  opacity: 1;
  z-index: -99;
}
