.card {
  width: 25rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cardAvatar {
  width: 9rem;
  height: 9rem;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 5rem;
  font-weight: bold;

  color: #3b2e55;
  box-shadow: 3px 6px 18px -6px rgba(0, 0, 0, 0.2);
}

.cardContent {
  text-align: center;

  > h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  > p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}
