.labelStyle {
  position: relative;
  background: #fffa;
  height: 5rem;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  transition: 0.3s all ease-in-out;
  width: 41%;

  &:focus-within,
  &:hover {
    background: #fff;
    width: 70%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
}

.inputStyle {
  width: 100%;
  padding: 0 1rem;
  border: none;
  background: none;
  outline: none;
  float: left;
  color: #131330cc;
  font-size: 2.4rem;
  font-weight: normal;
  transition: ease-in 0.4s;
  line-height: 4rem;
  text-transform: capitalize;

  &::placeholder {
    color: #13133066;
  }
}

.searchIcon {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: #fff;
  float: right;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background: #131330;
  display: flex;
  justify-content: center;
  align-items: center;
}
