.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 8rem;
}

.searchContainerHeader {
  width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 4rem;
    text-transform: uppercase;
  }
}

.labelStyle {
  position: relative;
  background: #fffa;
  height: 5rem;
  border-radius: 4rem;
  padding: 0.5rem 2.5rem;
  transition: 0.3s all ease-in-out;
  width: 41%;

  &:focus-within,
  &:hover {
    background: #fff;
    width: 70%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
}

.inputStyle {
  width: 100%;
  padding: 0 1rem;
  border: none;
  background: none;
  outline: none;
  float: left;
  color: #131330cc;
  font-size: 2.4rem;
  font-weight: bold;
  transition: ease-in 0.4s;
  line-height: 4rem;
}

.searchIcon {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: #fff;
  float: right;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background: #131330;
  display: flex;
  justify-content: center;
  align-items: center;
}
