@import "../../styles/mixins";

.mainContainer {
  @include main-container;
}

.albumHeader {
  @include searchHeader;

  .albumHeaderArtist {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    i {
      font-size: 2.4rem;
      margin-right: 1rem;
      color: #e4d2ee;
    }

    h2 {
      font-size: 2.2rem;
      font-weight: normal;
      transition: 0.2s;

      &:hover {
        color: #e4d2ee;
      }
    }
  }
}

.albumContent {
  @include searchContentContainer;
}

.albumTracks {
  @include searchMainContent;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.albumWiki {
  @include searchSecondaryContent;
}

.trackInfo {
  display: flex;
  width: 100%;
  margin: 0.5rem 0;

  .trackNumber {
    margin-right: 1rem;
  }

  .flexJustifyBetween {
    display: flex;
    width: 90%;
    justify-content: space-between;

    a {
      margin-left: 1rem;
    }

    @media (max-width: 474px) {
      flex-direction: column;
      a {
        margin-left: 4rem;
      }
    }
  }
}
