.tag {
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.85);
  color: #131330;
  display: inline-block;
  margin-right: 2rem;
  border-radius: 1.6rem;
  margin: 0.5rem;

  p {
    font-size: 1.4rem;
    font-weight: bold;
  }
}
