@import "../../styles/mixins";

.mainContainer {
  @include main-container($alignItems: center);

  h1 {
    font-size: 8rem;
    font-weight: bold;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    margin-right: 3rem;

    @media (max-width: 768px) {
      font-size: 7.5vw;
    }
  }
}

.pesquisasContent {
  @include searchSecondaryContent(3rem 4rem, 4rem 0, 2rem, 2rem 0);

  max-width: 90rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: lighter;

  > div > * {
    margin-bottom: 1rem;
  }

  .pesquisaCard {
    width: 100%;
    background: #ffffff23;
    color: #fff;
    padding: 1.5rem 3rem;
    border-radius: 0.4rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    .pesquisaArtist {
      display: flex;
      align-items: center;

      > *:first-child {
        margin-right: 1rem;
      }
    }

    .pesquisaAlbum {
      display: flex;
      align-items: center;

      > *:first-child {
        margin-right: 1rem;
      }
    }
  }
}
