.navbar {
  padding: 0 80px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & strong {
    font-size: 2.4rem;
  }
}

.userSection {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .userImg {
    margin-right: 2rem;
  }
}
