.inputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.inputCheck {
  opacity: 0;
}

.inputLabel {
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: 0.2s ease;
  border-radius: 0.4rem;
  border: 1px solid #08080866;

  background: #3b2e55;

  &:hover {
    filter: brightness(1.2);
  }

  &.active {
    background: #5b2e65;
    border: 1px solid #b36d74;
  }
}
